body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 5%;
    left: 10%;
    color: white;
    background-color: black;
    overflow: scroll;
    top: 0%
}
a{
    text-decoration: none;
    color: white
}
a:hover{
    text-decoration: none;
    color: orange
}

